* {
  margin: 0px;
  padding: 0px;
  /* 옵션 */
  outline-style: none;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Kakao";
  /* font-family: "Inter", "Noto Sans KR", sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}
