@charset "utf-8";
@font-face {
  font-family: "KakaoBig regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff2)
      format("woff2"),
    url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-regular.woff)
      format("woff");
}
@font-face {
  font-family: "KakaoBig Bold";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff2)
      format("woff2"),
    url(https://t1.kakaocdn.net/together_image/fonts/kakao-big-bold.woff)
      format("woff");
}
* {
  margin: 0px;
  padding: 0px;
  /* 옵션 */
  outline-style: none;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
body {
  /* font-family: "Kakao"; */
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  /* overflow-x: hidden; */
}
.wrap {
  position: relative;
  padding-top: 70px;
  background: #f7f7f7;
}
.inner {
  width: calc(100% - 30px);
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
