.footer {
  padding: 40px 0 45px;
  display: block;
  border-top: 1px solid rgb(238, 238, 238);
}
.footer .inner {
  display: block;
  width: 1120px;
  margin: 0px auto;
}

.footer-top-info {
  display: block;
}
.footer-logo {
  width: 115px;
  height: 18;
  display: block;
}
.footer-logo .img {
  width: 115px;
  height: auto;
}

.footer-top-info-desc {
  display: flex;
  font-size: 14px;
  font-family: "KakaoBig regular";
  color: #666666;
  padding: 16px 0 18px;
  line-height: 1.57;
  letter-spacing: -0.1px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom-content {
  display: inline-flex;
}
.footer-copy {
  width: 113px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 6px 0;
}
.footer-copy .corp {
  display: flex;
  font-size: 14px;
  color: #444;
  line-height: 1.57;
  letter-spacing: -0.1px;
}
.footer-copy .dot1 {
  font-size: 13px;
  font-family: "KakaoBig regular";
  color: #444444;
  padding: 6px 0;
}
.footer-sitemap {
}
.footer-sitemap li {
  display: inline-block;
  padding: 6px 0;
  font-size: 14px;
  font-family: "KakaoBig regular";
  color: #444;
  line-height: 1.57;
  letter-spacing: -0.1px;
}

.footer-sitemap .dot {
  font-size: 13px;
  font-family: "KakaoBig regular";
  color: #444444;
}
.footer-sitemap li a {
}

.footer-sns {
}
.sns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-sns li {
  text-align: center;
  width: 30px;
  display: inline-block;
  padding: 6px 0;
}
.footer-copy-media {
  display: none;
}

/* 푸터 반응형 */
@media all and (max-width: 770px) {
  .footer .inner {
    padding: 27px 20px 29px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-top-info-desc {
    padding: 10px 0 16px;
  }
  .footer-logo {
  }
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-sitemap {
    border-top: 1px solid rgb(238, 238, 238);
    gap: 16px;
  }

  .footer-sitemap a {
    font-family: "KakaoBig Bold";
  }
  .footer-copy {
    display: none;
  }

  .footer-sns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .sns-list {
  }
  .footer-copy-media {
    display: block;
    font-size: 12px;
    font-family: "KakaoBig regular";
    line-height: 1.67;
    letter-spacing: -0.1px;
    list-style: none;
  }
}
