.main-top {
  width: 700px;
}

.main-top-dona {
  width: 100%;
  height: 370px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  line-height: 18px;
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 10px rgba(125, 125, 125, 0.2));
}

.dona-title {
}
.dona-title h2 {
  font-size: 20px;
  margin-bottom: 14px;
  color: #202020;
}
.dona-sub {
  font-size: 15px;
  color: rgb(102, 102, 102);
  font-family: "KakaoBig regular";
}

.dona-dec {
  display: flex;
  gap: 20px;
}
.dona-contain {
  width: 200px;
  height: 137px;
  font-size: 15px;
  font-family: "KakaoBig regular";
}
.dona-contain-dec {
  width: 100%;
}
.dona-contain-img {
  width: 100%;
  height: 100%;
  /* margin-top: 15px; */
  margin: 15px auto;
  background: url(../images/dona6.jpg) no-repeat center;
  background-size: cover;
  border-radius: 8px;
}
.dona-contain-text {
  font-size: 14px;
}
.dona-contain-subtext {
  font-size: 12px;
  color: #888;
}
.progress {
  display: flex;
  border-radius: 99px;
  width: 100%;
  height: 2px;
  background: rgb(233, 233, 233);
  margin-top: 20px;
}
.progress-bar {
  background: #ff4050;
}
/* .dona-bar {
  width: 100%;
  height: 2px;
  background: #ff4050;
  border-radius: 20px;
  margin-top: 20px;
} */

.dona-percent {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: "KakaoBig Bold";
  margin-top: 5px;
}
.dona-percent span {
  color: #ff4050;
}

.main-top-dona-time {
  width: 100%;
  height: 305px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 10px rgba(125, 125, 125, 0.2));
}

.time-contain {
  display: flex;
  width: 640px;
  height: 175px;
  font-size: 15px;
  margin: 18px auto;
  gap: 20px;
}
.time-contain-img {
  position: relative;
  width: 280px;
  height: 175px;
  background: url(../images/dona7.jpg) no-repeat center;
  background-size: cover;
  border-radius: 8px;
}
.time-contain-count {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 30px;
  border-radius: 8px 8px 0 0;
  background: rgb(32, 32, 32);
  color: #fff;
}
.time-contain-count-ts{
  display: none;
  background: rgb(32, 32, 32);
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-top: 12px;
}
.time-contain-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.time-contain-text h2 {
  font-size: 18px;
  font-weight: 700;
}

.time-bar {
  width: 100%;
  height: 5px;
  background: #ff4050;
  border-radius: 20px;
  margin-top: 20px;
}
.time-percent {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  flex-direction: column;
  align-items: center;
}
.time-percent-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  line-height: 2.1;
}
.time-percent-top span {
}
.time-percent-top p {
}

.time-percent-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "KakaoBig regular";
}
.time-percent-bottom span {
  color: #ff4050;
}
.time-percent-bottom p {
}

.dona-button {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 30px;
  font-family: "KakaoBig regular";
}
.bt-heart,
.bt-dona {
  display: flex;
  justify-content: space-around;
  width: 164px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  border: #c9c9c9 solid 1px;
  border-radius: 8px;
}

.main-top-dona-tag {
  width: 100%;
  height: 398px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  line-height: 18px;
  margin-bottom: 30px;
  filter: drop-shadow(0 10px 10px rgba(125, 125, 125, 0.2));
}
.dona-tag {
  display: flex;
  gap: 6px;
  align-items: center;
}
.tag-bt {
  display: block;
  border: #eee solid 1px;
  border-radius: 25px;
  padding: 12px;
}
.tag-bt span {
  font-size: 14px;
  font-family: "KakaoBig regular";
}

/* 반응형 */
@media all and (max-width: 770px) {
  .main-top-dona,
  .main-top-dona-tag {
    max-width: 100%;
    width: 92vw;
    height: 447px;
  }

  .main-top-dona-time {
    max-width: 100%;
    width: 92vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .dona-title,
  .dona-sub {
    /* overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .dona-contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .dona-contain-dec,
  .dona-tag {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dona-dec {
    flex-direction: column;
    padding-top: 25px;
  }
  .dona-contain-img {
    width: 125px;
    height: 85px;
    margin: 0;
  }
  .dona-contain-dec {
    padding: 0 0 0 16px;
  }
  .dona-bar {
    margin-top: 30px;
  }

  .time-contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 62vh;
    gap: 8px;
    margin: 0;
  }
  .time-contain-count{
    display: none;
  }
  .time-contain-count-ts{
    display: flex;
  }
  .time-contain-img{
    max-width: 100%;
    width: 100vh;
  }
  .time-contain-text{
    font-size: 16px;
  }
}
